version: '3.8'
services:
  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  config-service:
    build: ./config-service
    ports:
      - "8888:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=native,docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - EUREKA_HOST=discovery-service
    depends_on:
      discovery-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  energy-service:
    build: ./energy-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-service:8888
      - EUREKA_HOST=discovery-service
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    volumes:
      - ./data/energy.db:/app/energy.db

  water-service:
    build: ./water-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-service:8888
      - EUREKA_HOST=discovery-service
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    volumes:
      - ./data/water.db:/app/water.db

  gateway-service:
    build: ./gateway-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-service:8888
      - EUREKA_HOST=discovery-service
    depends_on:
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
